/* Theme styles */
/* Header theme variations */
.theme-light .header {
    background-color: #f0f0f0; /* Light background color */
    color: #333; /* Dark text color */
  }
  
  .theme-dark .header {
    background-color: #333; /* Dark background color */
    color: #fff; /* Light text color */
  }
  