/* Navigation styles */
.nav {
    display: flex;
    justify-content: center;
  }
  
  .nav__list {
    list-style-type: none;
    display: flex;
  }
  
  .nav__item {
    margin-right: 20px;
  }
  
  .nav__link {
    text-decoration: none;
    color: inherit;
  }
  